
.nav{
   text-shadow: 2px 2px 5px purple;
   letter-spacing: 4px;
    -webkit-transition: width 2s;
    transition: width 2s;

}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin-top: 10%;
}


li {
    float: right;
}

li a { 


  font-size: 35px;

   font-weight: bold;
      font-family: Courier New, monospace, sans-serif;
    background-image: url('rain2.jpeg');
    display: block;
    color: black;
    text-align: center;
    border-radius: 20%;
    border: 2px solid black;
    border-collapse: 20%;
    margin-left: 20px;

    padding: 14px 16px;
    text-decoration: none;
}


nav.hover li a{



    
    background-color: red;
}








              body {
             border-image: "rain2.jpeg");
border: 10px dotted black;
background-image: url('rain.jpg');
    border-radius: 5px;
   
}









.div00{margin-top: 20px;
  margin-right: 20px:;
   margin-left: 10%;
 border-radius: 25px;


 
opacity: 0.9;
    border: 20px dotted black;

    padding: 20px; 
    width: 80%;
    height: 100px;  
  }


.div01{margin-top: 20px;
  margin-right: 20px:;
   margin-left: 10%;
 border-radius: 25px;


opacity: 0.9;
    border: 20px dotted grey;

    padding: 20px; 
    width: 80%;
    height: 100px;  

  }

.div01 h1{text-align: center;;
 font-size: 50px;
 color: white;
color:re; }
  .div00 h1{ text-align: center;;
 font-size: 50px;
    }


.div1{display: inline-block;
  margin-left: 5px;
height: 100px;
width: 100px;

  margin:auto;
}







.div2{
 
border-radius: 15px 50px 30px;
background-repeat: no-repeat;
background-image: url('gigi.jpg');

    width: 90%;
    height: 100%;
    border: 4px solid black;
    padding: 25px;
    margin: 5%;
  }






.div22{background-image: url('kendal.jpg');
 
border-radius: 15px 50px 30px;
background-repeat: no-repeat;
    width: 90%;
    height: 100%;
    
    border: 4px solid black;
    padding: 25px;
    margin: 5%;
    

}







.div3{  
   border-radius: 30px 50px 30px;
display: inline-block;
width: 35%;
    height: 30%;

    margin-left: 6%;
    margin-right:6%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 5px solid black; 
     padding: 2px;
   
  clear: both;  }




  .div3 img{
    width: 100%;
     border-radius: 30px 50px 30px;
     transition: transform .5s;
     opacity: 0.9;
    align-self: center;
  }


  .div3 img:hover{
    width: 100%;
     border-radius: 30px 50px 30px;
     transition: transform .5s;
     opacity: 1;
    align-self: center;
  }





.error {
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 20px;
}









